/* Además de haber pasado el código HTML en el validador,
he pasado este código CSS también, garantizando así no tener
ningun error, apenas warning */

body{
    background-color: rgb(253, 220, 189);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 55%;
}

p{
    font-family: sans-serif;
    font-style: italic;
    border: 1px dashed rgb(198, 166, 116);
    padding: 10px 0px 10px 10px;
    width: 135px;
    height: 75px;
    display: inline-block;
    background-color: rgb(242, 208, 171);
    margin-right: 8px;
    margin-bottom: 10px;
    vertical-align: top;
}

/*He utilizado el pseudoelemento ::first-letter para estilizar la primera letra de los párrafos porque ofrece una solución más limpia y eficiente. A diferencia de una clase, que tendría que poner manualmente la primera letra en un <span>. Así facilito el mantenimiento del código y lo hago más legible.*/
p::first-letter{
    color: rgb(198, 166, 116);
    font-size: 180%;
}

